/* Global styles - moved from style.css */
@import './styles/theme.css';

html,
body,
#app {
  height: 100%;
}

:root {
  font-family: var(--font-family);
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#app {
  width: 100%;
}